.flex{
  display: flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.nowrap{
  flex-wrap: nowrap;
}

.wrap{
  flex-wrap: wrap;
}

.justifySpaceAround{
  justify-content: space-around;
}

.justifySpaceBetween{
  justify-content: space-between;
}

body{
  margin: 0;
}
